<header class="app-header">
  <div class="container">
    <img height="25" src="images/Ontra_Horizontal_LightBkg.svg" class="custom-logo astra-logo-svg" alt="Ontra">
  </div>
</header>

<div class="container app-body">
  {{outlet}}
</div>
