<header class="app-header">
  <div class="container">
    <img height="25" src="https://www.incloudcounsel.com/wp-content/uploads/2019/08/svg0.svg" class="custom-logo astra-logo-svg" alt="InCloudCounsel">
  </div>
</header>

<div class="container app-body">
  {{outlet}}
</div>
