<div class="filter-controls">
  <label for="document-type-filter">Document Type:</label>

  <select id="document-type-filter">
    <option>All</option>
    <option>Consulting Agreement</option>
    <option>Non-Disclosure Agreement</option>
  </select>
</div>

<div style="border: 1px solid black; text-align: center; padding: 20px;">
  Replace this div with document table
</div>
